<h1>This is the edit other form.</h1>

<%= simple_form_for @other do |f| %>
 
 	<%= f.input :id, as: :hidden %>
	<%= f.input :manufacturer %>
	<%= f.input :model_type, label: "Model" %>
	<%= f.input :inventory_tag %>
	<%= f.input :description %>
	<%= f.submit "Edit Equipment" %>
<% end %>