<h1 class="text-center col-xs-12">Current Bookings</h1>
<% if !@bookings.empty? %>
	<table class="booking-index">
	<% type = "" %>
	<% @bookings.each do |booking| %>
	<% if type == "" %>
		<tr><th class="table-subheading"><%= booking.bookable_type.pluralize %></th></tr>
	<tr>
		<th class="hidden-xs"></th>
		<th></th>
		<th></th>
		<th class="wider-column"></th>
		<th></th>
		<th></th>
	</tr>	
	<% elsif type != booking.bookable_type %>
		<tr><th class="table-subheading"><%= booking.bookable_type.pluralize %></th></tr>
	<% end %>
	<tr>
		<%  @bookable = booking.bookable_type.classify.constantize.find(booking.bookable_id) %>
		<td class="hidden-xs"><%= @bookable.manufacturer %></td>
		<td><%= @bookable.model_type %></td>
		<% case booking.bookable_type %>
		<% when "Wheelchair" %>
			<td><%= @bookable.width %> X <%= @bookable.depth %></td>
		<% when "Powerchair" %>
			<td><%= @bookable.serial_number %></td>
		<% when "Mattress" %>
			<td><%= @bookable.size %></td>
		<% when "Other" %>
			<td></td>
		<% when "Scooter" %>
			<td><%= @bookable.wheels %></td>
		<% end %>
		<td><%= booking.start_date.strftime("%b. %e") %> - <%= booking.end_date.strftime("%b. %e") %></td>
		<td><%= link_to "delete", delete_booking_path(id: booking.id), method: :delete, data: {confirm: "Are you sure?" } %></td>
		<td><%= link_to "edit", edit_user_booking_path(id: booking.id, bookable: booking.bookable_type, (booking.bookable_type.downcase + "_id").to_sym => booking.bookable_id) %></td>
		<% type = booking.bookable_type %>
	</tr>
	<% end %>
</table>
<% else %>
	<h3 class="text-center">You have not booked any equipment.</h3>
<% end %>
