<!-- Sets up an array of the days of the @date month in groups of 7 -->
<% array_of_weeks = weeks(@date) %>

<!-- Assign variables -->
<% start_date = @booking.start_date %>
<% end_date = @booking.end_date %>

<!-- Message indicating what equipment is being booked -->
<h3 class="center-message">Booking dates for: <%= @bookable.manufacturer %> <%= @bookable.model_type %></h3>

<!-- Returns a hash of booked dates and the associated user for each booked date. -->
<% booked_dates = find_bookings(@bookings) %> 

<!-- If end_date has been set, proposed_dates is assigned an array of the desired dates. If problems arise, the last statement was [1, start_date] but removed the 1 because didn't know why it was there. -->
<% proposed_dates = end_date ? (start_date..end_date).to_a : [start_date] %>

<!-- If the start_date has been set, an array of valid end_dates is populated. -->
<% end_dates_array = array_of_valid_end_dates(start_date, @bookings) if start_date %>

<%= render 'month', date: @date, start_date: start_date, end_date: end_date %>

<table id="booking-calendar">
	<%= render 'days' %>
	<% array_of_weeks.map do |week| %>
		<tr>
			<% week.map do |date| %>
				<%= content_tag :td, class: day_classes(date, @date, booked_dates, proposed_dates, start_date, []) do %>
					<%= date.day %>
					<br>

					<!-- Only populate table data for days that are part of the current month -->
					<% if date.month == @date.month %>
						<% if booked_dates.member?(date) %>
							<p>Booked</p>

							<!--fetches the identity of the user that booked the equipment on that date.-->
							<%= booked_dates.fetch(date) %> 
						<% else %>
							<% if date >= Date.today %>
								<% if start_date == nil %> 
									<%= link_to "Start Date", {date: @date, start_date: date} %>
								<% elsif end_date == nil && end_dates_array.include?(date) %>
									<%= link_to "End Date", {date: @date, end_date: date, 
																							 start_date: start_date} %>
								<% elsif end_date && proposed_dates.include?(date) %>
									<span>Proposed</span> 
									<p>Trial Date</p>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
<div class="container">
	<div class="message">
		<% if start_date && end_date %>
			<h3 class="center-message">Your proposed dates are shown in green above.</h3>
			<h3 class="center-message">Click 'Book It' button below to book this equipment for these dates or <%= link_to "Edit Booking Dates", {date: @date}, method: :get %>.</h3>
			<div class="row">
				<%= link_to "Book It", create_booking_path(end_date: end_date, start_date: start_date, bookable: @bookable.class.name.downcase, (@bookable.class.name.downcase + "_id").to_sym => @bookable.id), method: :post, class: "btn btn-primary btn-lg col-xs-6 col-xs-offset-3 submit-button" %>
			</div>
		<% elsif start_date %>
			<h3 class="center-message">Your Start Date is shown in green.</h3>
			<h3 class="center-message">Please choose an available End Date for your trial.</h3>
		<% else %>
	 		<h3 class="center-message">Please choose an available Start Date for your trial.</h3>
		<% end %>
	</div>
</div>






