<%= render 'shared/error_messages', object: f.object %>

<%= f.input :name  %>
<%= f.input :initials %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation, label: "Confirmation" %>
<div class="row form-field">
	<p class="col-md-12">Do you want this user to have admin priviledges?</p>
</div>
<%= f.input :admin, label: false, as: :radio_buttons, wrapper_html: { id: "admin-radio" }, input_html: {}, label_html: {} %>