<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-9 col-md-offset-1">
			<table class="table" id="users-index">
				<thead>
					<tr>
						<th>Name</th>
						<th>Initials</th>
						<th>Email</th>
						<th>Admin</th>
					</tr>
				</thead>
				<tbody>
					<% @user.each do |user| %>
						<tr>
							<td><%= user.name %></td>
							<td><%= user.initials %></td>
							<td><%= user.email %></td>
							<% if user.admin == true %>
								<td>yes</td>
							<% else %>
								<td>no</td>
							<% end %>
							<td><%= link_to "edit", edit_user_path(user) %></td>
							<td><%= link_to "delete", user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>	
			<%= link_to "Add New User", new_user_path, class: "row col-xs-6 col-xs-offset-3 btn btn-primary btn-lg" %>
		</div>
	</div>
</div>
