<h1>Sign up a new User.</h1>

<%= simple_form_for @user do |f| %>
	<%= f.input :name %>
	<%= f.input :initials %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation, label: "Confirmation" %>
	<%= f.button :submit, "Create User" %>
<% end %>
