<div id="sindex">
<% show_location = location? %>
<% show_inventory = inventory? %>
<table id="scooters">
	<thead>
		<tr>
			<th>Manufacturer</th>
			<th>Model</th>
			<th>Wheels</th>
			<%= content_tag(:th, "Location") if show_location %>
			<%= content_tag(:th, "Inventory Tag") if show_inventory %>
			<th>Color</th>	
			<th>Serial Number</th>
			<th></th>
			<% if admin? %>
				<th></th>
				<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @scooters.each do |scooter| %>
			<tr>
				<td><%= scooter.manufacturer %></td>
				<td><%= scooter.model_type %></td>
				<td><%= scooter.wheels %></td>
				<%= content_tag(:td, scooter.location) if show_location %>
				<%= content_tag(:td, scooter.inventory_tag) if show_inventory %>
				<td><%= scooter.color %></td>
				<td><%= scooter.serial_number %></td>
				<td><%= link_to "View/ Book", new_scooter_booking_path(scooter), class: "btn btn-primary btn-sm" %></td>
				<% if admin? %>
					<td><%= link_to "edit", edit_scooter_path(scooter) %></td>
					<td><%= link_to "delete", scooter, method: :delete, data: { confirm: "You sure?"} %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<% if admin? %>
	<div class="container-fluid row">
	<%= link_to "Add New Scooter", new_scooter_path, class: "submit-button btn btn-primary btn-lg col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" %>
	</div>
<% end %>
