<table id="mattresses">
	<thead>
		<tr>
			<th class="hidden-xs">Manufacturer</th>
			<th>Model</th>
			<th>Size</th>
			<th class="hidden-xs">Inventory Tag</th>
			<th>Serial Number</th>
			<th></th>
			<% if admin? %>
				<th></th>
				<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @mattress.each do |mattress| %>
			<tr>
				<td class="hidden-xs"><%= mattress.manufacturer %></td>
				<td><%= mattress.model_type %></td>
				<td class="hidden-xs"><%= mattress.size %></td>
				<td class="hidden-xs"><%= mattress.inventory_tag %></td>
				<td><%= mattress.serial_number %></td>
				<td><%= link_to "View/ Book", new_mattress_booking_path(mattress), class: "btn btn-primary btn-sm" %></td>
				<% if admin? %>
					<td><%= link_to "edit", edit_mattress_path(mattress) %></td>
					<td><%= link_to "delete", mattress, method: :delete, data: { confirm: "You sure?"} %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<% if admin? %>
	<div class="container-fluid row">
	<%= link_to "Add New Mattress", new_mattress_path, class: "btn btn-primary col-xs-3 col-xs-offset-1" %>
	</div>
<% end %>