<h1>This is the new mattress form.</h1>

<%= simple_form_for @mattress do |f| %>
	<%= f.input :manufacturer %>
	<%= f.input :model_type, label: "Model" %>
	<%= f.input :size %>
	<%= f.input :inventory_tag %>
	<%= f.input :serial_number %>
	<%= f.submit "Mattress" %>
<% end %>