<div class="container-fluid row">
	<%= link_to "Advanced Search", wheelchair_search_path, class: "btn btn-primary btn-lg col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-4", id: "advanced-search" %>
</div>
<div id="wcindex">
<table id="wheelchairs">
	<thead>
		<tr>
			<th class="hidden-xs">Manufacturer</th>
			<th>Model</th>
			<th>Width</th>
			<th>Depth</th>
			<th class="hidden-xs">Color</th>
			<th class="hidden-xs">Inventory Tag</th>
			<th>Serial Number</th>
			<th></th>
			<% if admin? %>
				<th></th>
				<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @wheelchairs.each do |wc| %>
			<tr>
				<td class="hidden-xs"><%= wc.manufacturer %></td>
				<td><%= wc.model_type %></td>
				<td><%= wc.width %></td>
				<td><%= wc.depth %></td>
				<td class="hidden-xs"><%= wc.color %></td>
				<td class="hidden-xs"><%= wc.inventory_tag %></td>
				<td><%= wc.serial_number %></td>
				<td><%= link_to "View/ Book", new_wheelchair_booking_path(wc), class: "btn btn-primary btn-sm" %></td>
				<% if admin? %>
					<td><%= link_to "edit", edit_wheelchair_path(wc) %></td>
					<td><%= link_to "delete", wc, method: :delete, data: { confirm: "You sure?"} %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<% if admin? %>
	<div class="container-fluid row">
		<%= link_to "Add New Wheelchair", new_wheelchair_path, class: "submit-button btn btn-primary btn-lg col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" %>
	</div>
<% end %>

