<h1>This is the wheelchair index page</h1>

<% @wheelchair.each do |wc| %>
	<%= wc.manufacturer %>
	<%= wc.model_type %>
	<%= wc.width %>
	<%= wc.depth %>
	<%= wc.color %>
	<%= wc.inventory_tag %>
	<%= wc.serial_number %>
	<%= link_to "edit", edit_wheelchair_path(wc) %>
	<%= link_to "delete", wc, method: :delete, data: { confirm: "You sure?"} %>
	<%= link_to "view availability/book", new_wheelchair_booking_path(wc) %>
	<br>
<% end %>

