<h1>This is the new wheelchair form.</h1>

<%= simple_form_for @wheelchair do |f| %>
	<%= f.input :manufacturer %>
	<%= f.input :model %>
	<%= f.input :width %>
	<%= f.input :depth %>
	<%= f.input :color %>
	<%= f.input :inventory_tag %>
	<%= f.input :serial_number %>
	<%= f.submit "Add Wheelchair" %>
<% end %>